.sidebarData {
  flex: 18%;
}

.pageContent {
  flex: 82%;
  display: grid;
}

.pageData {
  position: absolute;
  margin-left: 5%;
}

.employeeListLoader {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  width: 80vw;
}

.employeeDataTable {
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 80vh;
  padding-top: 1%;
}

.actionBtn {
  display: inline-block;
  width: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noData {
  height: 55vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 150%;
  color: white;
}

.heading {
  width: 54vw;
  height: 9vh;
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  color: white;
}

.headingBtn {
  padding-top: 1%;
  display: flex;
}

.buttons{
  width: 27vw;
  height: 10vh;
  display: flex;
  align-items: center;
  float: right;
  justify-content: center;
  margin-left: auto;
}

.addBtn{
  padding-right: 3.25%;
  float: right;
}

.editForm{
  padding-top: 1%;
  position: absolute;
  margin-left: 15%;
  margin-top: 5%;
  height: 70vh;
  width: 40vw;
  border-radius: 15px;
  background-color: rgba(225, 225, 225, 0.5);
}
