.sidebarData {
  flex: 18%;
}

.pageContent {
  flex: 82%;
  display: grid;
}

.pageData {
  position: absolute;
  margin-left: 5%;
}

.employeeListLoader {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  width: 80vw;
}

.employeeDataTable {
  display: flex;
  justify-content: center;
  width: 82vw;
  height: 80vh;
  /* padding-top: .5%; */
}

.addBtn {
  /* position: absolute; */
  display: none;
  margin-top: 7%;
  z-index: 99;
  display: inline-block;
  width: 10vw;
}

.noData{
  height: 55vh;
  width: 80%;
  justify-content: center;
  display: flex;
  padding-left: 5%;
  font-size: 150%;
}

.heading {
  width: 60vw;
  display: flex;
  align-items: center;
  padding-left: 40%;
  padding-right: 15%;
  font-size: 230%;
  height: 10vh;
  color:white;
}

.headingBtn {
  display: flex;
}
