#employeeForm {
  margin-top: 2%;
  height: 90vh;
  width: 72vw;
  background-color: white;
  padding-top: 3%;
  padding-bottom: 5%;
  border-radius: 20px;
  transition: 0.3s;
}

.roleDropDown {
  width: 10vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline {
  display: inline-block;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.dates {
  display: inline-block;
  padding-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
}

.content {
  display: flex;
  justify-content: center;
}

.ActionBtn {
  width: 10vw;
  border-radius: 50px !important;
  border-width: 0.3vh !important;
}

.ID {
  padding-top: 5%;
  width: 15vw;
  display: flex;
  justify-content: center;
}

.addHeading {
  font-size: 175%;
}
